.margin-home {
  margin-top: 100px;
}
.user-card {
  font: 13px/23px "Raleway", Arial, sans-serif;
  color: black;
  padding: 40px 0;
}

.information {
  text-align: center;
}

.avatar {
  margin: 0 auto;
  margin: -82px auto 15px;
  display: block;
}

.name {
  font-size: 22px;
}

.position {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 24px;
}

.stats {
  margin: auto;
  border-top: 1px solid #ced5e0;
  width: 240px;

  .followers,
  .following,
  .stories {
    display: inline-block;
    padding: 6px 10px 0;
  }

  .followers,
  .following {
    border-right: 1px solid #ced5e0;
  }

  .value {
    font-size: 18px;
    font-weight: 600;
  }

  .label {
    display: block;
    font-size: 14px;
    color: #8c98a8;
  }
}

.fixed-user-card {
  position: fixed;
}
.loading {
  text-align: center;
}
